:root {
    /* Colores */
    --blue-button: rgba(120, 184, 198, 0.749);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    background-image: url('/assets/imagenes/fondo\ para\ escritorio.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height: 100%; */



}

.icon {
    height: 750px;
    width: 780px;
    align-self: center;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    left: calc(50% - 380px);

}

.main-button {
    position: relative;
    left: calc(50% - 80px);
    /* La funcion calc, nos genera un calculo, expeficamente lo que realiza lo que hace es centrar el boton */
    top: 550px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 5px;
    width: 200px;
    height: 30px;
    background-color: var(--blue-button);
    /* Sombras estilos visuales*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.348);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: justify;
    color: var(--black);
}

/* ---------------Loader-------------- */
.loader {
    background: rgba(130, 192, 227, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;

    animation: loader 2s linear forwards;
}

.loader div {
    background: white;
    border-radius: 50%;
    ;
    height: 30px;
    margin: 10px;
    width: 30px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
    animation-delay: 0.2s;
}

.loader div:nth-child(2) {
    animation-delay: 0.4s;
}

.loader div:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes scaling {

    0%,
    100% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }

    95% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* -------------------Modal Registro---------------- */
.visible {
    display: grid;
}

.hidden {
    display: none;
 
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    place-items: center;


}

.modal__contentRegistro {
    background: rgb(255, 255, 255);
    width: 480px;
    height: 740px;
}

.modal__content--close:hover {
    cursor: pointer;
}

/* -------------Formulario registro----------------- */

.container-register {
    width: 180px;
    height: 70vmin;
    margin: 2vmin auto 0 auto;
    padding: 6vmin;
    color: black;
    border: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vmin;
}

.form-register {
    height: 30vmin;
    font-size: 2.6vmin;

}

.form-register__label {
    display: block;
    margin: 2vmin 0 0 0;
}

.form-register__input {
    border: 0;
    border-bottom: 1px solid rgba(130, 192, 227, 1);
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 4.5vmin;
    color: black;
    background-color: rgba(217, 217, 217, 1);
}

.img-container {
    display: block;
    width: 190px;
    height: 170px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;

}

.form-register__input--background,
.form-datalist__option {
    background-color: rgba(217, 217, 217, 1);
    color: black;
}

/* .form-register__btn {
	display: block;
	margin: 5.5vmin auto 0 auto;
	width: 19vmin;
	height: 5vmin;
	background-color: rgba(130, 192, 227, 1);
	border: none;
	color: black;
    box-shadow: 0px 4px 8px rgba(4, 4, 4, 0.436);
} */

.form-register__btn {
    display: block;
    margin: 5.5vmin auto 0 auto;
    width: 19vmin;
    height: 5vmin;
    background-color: rgba(130, 192, 227, 1);
    border: none;
    color: black;
    box-shadow: 0px 4px 8px rgba(4, 4, 4, 0.436);
    text-decoration: none;
    font-size: 1.8vmin;
    padding-top: 8px;
    text-align: center;
}

.form-register__conditions {
    font-size: 2vmin;
    color: rgb(30, 37, 226);
    margin-top: 2.4vmin;
}

.form-register__conditions--color {
    color: black;
}

/* -------------------Modal login---------------- */
.visible2 {
    display: grid;
}

.hidden2 {
    display: none;
}

.modal2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    place-items: center;

}

.modal__contentLogin {
    background: rgb(255, 255, 255);
    width: 480px;
    height: 630px;
}

.modal__content--close2:hover {
    cursor: pointer;
}

/* -------------Formulario Login----------------- */

.container-login {
    width: 180px;
    height: 60vmin;
    margin: 2vmin auto 0 auto;
    padding: 6vmin;
    color: black;
    border: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vmin;
}

.form-login {
    height: 30vmin;
    font-size: 2.6vmin;
}

.img-container__login {
    display: block;
    width: 180px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 35px;
}

.form-login__input {
    border: 0;
    border-bottom: 1px solid rgba(130, 192, 227, 1);
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 4.5vmin;
    color: black;
    background-color: rgba(217, 217, 217, 1);
}

.form-login__label,
.form-login__btn {
    display: block;
}

.form-login__label {
    display: block;
    margin: 2vmin 0 0 0;
}

/* .form-login__btn{
	display: block;
	margin: 4vmin auto 0 auto;
	width: 19vmin;
	height: 5vmin;
	background-color: rgba(130, 192, 227, 1);
	border: none;
	color: black;
    box-shadow: 0px 4px 8px rgba(4, 4, 4, 0.436);
} */

.form-login__btnRegister,
.form-login__btn {
    display: block;
    margin: 5.5vmin auto 0 auto;
    width: 19vmin;
    height: 5vmin;
    background-color: rgba(130, 192, 227, 1);
    border: none;
    color: black;
    box-shadow: 0px 4px 8px rgba(4, 4, 4, 0.436);
    text-decoration: none;
    font-size: 1.8vmin;
    padding-top: 8px;
    text-align: center;

}

.form-login__link {
    font-size: 2vmin;
    color: rgb(30, 37, 226);
    margin-top: 2.4vmin;
}

.form-login__btnRegister {
    padding: 1.5vmin;
}